# General
*.log*
*.tsbuildinfo
.DS_Store
.env*
.eslintcache
node_modules/

# Package builds
*.tgz
dist-*/
packages/*otion/server/

# Create React App
!packages/example-cra/.env

# Gatsby
.cache/
public/

# Next.js
.next/
build/
out/
